<!DOCTYPE html>
<html lang="zh">

<head>
    <title>CN Trade</title>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://github.githubassets.com/favicon.ico">
    <link rel="stylesheet" href="https://jiehuifang.github.io/webTools.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <!-- CN Trade -->
    <div id="app">
        <p>CN Trade </p>
        <p>
            <a href="https://jiehuifang.github.io/">back to the contents</a>
        </p>
        <br>
        <div>
            <textarea id="trade_code" rows="5" cols="30" placeholder="prefix(s_sh|s_sz) + Ticker Symbol" v-model="inputCodes"></textarea>
        </div>
        <br>
        <div>
            <!-- button -->
            <button @click="trade_refresh()">refresh</button>
            <button @click="stopInterval()">stop</button>
        </div>
        <br>
        <table v-if="Object.keys(codeList).length!==0">
            <tr v-for="(value,key) in codeList">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            inputCodes: "",
            codeList: {},
            instance: axios.create({
                //腾讯 tx
                baseURL: 'https://qt.gtimg.cn' //v_s_sh600108="1~亚盛集团~600108~3.00~-0.10~-3.23~568256~17082~~58.41~GP-A";
            }),
            refreshInterval: null,
        },
        created() {
            let t = this;
            let storage = window.localStorage;
            if (!storage) return false;
            t.inputCodes = storage.getItem("web_tool_cn_trade_code");
        },
        methods: {
            trade_refresh() {
                let t = this;
                let storage = window.localStorage;
                if (storage) storage.setItem("web_tool_cn_trade_code", t.inputCodes);
                if (t.inputCodes === '') {
                    alert("input code is empty!")
                    return;
                }
                t.stopInterval();
                t.codeList = {};
                t.inputCodes.split('\n').forEach(i => Vue.set(t.codeList, i, "loading"))
                t.refreshInterval = setInterval(t.refreshFun, 3000)
            },
            stopInterval() {
                let t = this;
                console.log('stop fetch：' + Object.keys(t.codeList));
                if (t.refreshInterval !== undefined && t.refreshInterval !== null) {
                    clearInterval(t.refreshInterval);
                    t.refreshInterval = null;
                }
            },
            refreshFun() {
                let t = this;
                console.log('start fetch: ' + Object.keys(t.codeList));
                try {
                    Object.keys(t.codeList).forEach((element) => {
                        t.instance.get('/q=' + element).then((res) => {
                            let data = res.data.split('~');
                            let tx_data = data[3] + '  ' + data[4] + '  ' + data[5] + '%'
                            Vue.set(t.codeList, element, tx_data);
                        }).catch((e) => {
                            console.log(e)
                        });
                    });
                } catch (err) {
                    console.log(err);
                    t.stopInterval();
                }
            }
        }
    });
</script>

</html>