<!DOCTYPE html>
<html lang="zh">

<head>
    <title>CN Trade</title>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://github.com/favicon.ico">
    <link rel="stylesheet" href="/webTools.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <!-- CN Trade -->
    <div id="app">
        <p>CN Trade </p>
        <p>
            <a href="/index.html">back to the contents</a>
        </p>
        <br>
        <div>
            <button @click="controlAppendArea()">{{showAppendArea?"hidden":"show"}} append area</button>
        </div>
        <br>
        <div v-if="showAppendArea == true">
            <input v-model="source_number" placeholder="source number">
            <input v-model="source_unit" placeholder="source unit">
            <input v-model="target_unit" placeholder="target unit">
            <input v-model="add_amount" placeholder="add amount">
            <p>added unit:{{isNaN(added_unit) ? 0 : added_unit}}</p>
            <p>added rate:{{isNaN(added_rate) ? 0 : added_rate}}%</p>
        </div>
        <br>
        <div>
            <textarea id="trade_code" rows="5" cols="30" placeholder="prefix(s_sh|s_sz) + Ticker Symbol,target" v-model="inputCodes"></textarea>
        </div>
        <br>
        <div>
            <!-- button -->
            <button @click="trade_refresh()">refresh</button>
            <button @click="stopInterval()">stop</button>
        </div>
        <br>
        <table v-if="Object.keys(codeList).length!==0">
            <tr v-for="(value,key) in codeList">
                <td> [{{key}}] </td>
                <td> => </td>
                <td> {{value.name}} </td>
                <td> {{value.price}} </td>
                <td> {{value.priceFloat}} </td>
                <td> {{value.priceFloatRate}} </td>
                <td> {{value.myPriceFloatRate}} </td>
            </tr>
        </table>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            source_number: "",
            source_unit: "",
            target_unit: "",
            add_amount: "",
            showAppendArea: false,
            inputCodes: "",
            codeList: {},
            instance: axios.create({
                //腾讯 tx
                baseURL: 'https://qt.gtimg.cn' //v_s_sh600108="1~亚盛集团~600108~3.00~-0.10~-3.23~568256~17082~~58.41~GP-A";
            }),
            refreshInterval: null,
        },
        computed: {
            added_unit() {
                return ((parseFloat(this.source_number) * parseFloat(this.source_unit) + parseFloat(this.add_amount)) / (parseFloat(this.source_number) + parseFloat(this.add_amount) / parseFloat(this.target_unit))).toFixed(2);
            },
            added_rate() {
                return (((parseFloat(this.target_unit) * parseFloat(this.source_number) + parseFloat(this.add_amount)) / (parseFloat(this.source_number) * parseFloat(this.source_unit) + parseFloat(this.add_amount)) - 1) * 100).toFixed(2);
            }
        },
        created() {
            let t = this;
            let storage = window.localStorage;
            if (!storage) return false;
            t.inputCodes = storage.getItem("web_tool_cn_trade_code");
            if (undefined !== window.Notification && "granted" !== Notification.permission) {
                Notification.requestPermission();
            }
        },
        methods: {
            controlAppendArea() {
                this.showAppendArea = !this.showAppendArea;
            },
            trade_refresh() {
                let t = this;
                let storage = window.localStorage;
                if (storage) storage.setItem("web_tool_cn_trade_code", t.inputCodes);
                if (t.inputCodes === '') {
                    alert("input code is empty!")
                    return;
                }
                t.stopInterval();
                t.codeList = {};
                t.inputCodes.split('\n').forEach(i => Vue.set(t.codeList, i, "loading"))
                t.refreshInterval = setInterval(t.refreshFun, 3000)
            },
            stopInterval() {
                let t = this;
                console.log('stop fetch：' + Object.keys(t.codeList));
                if (t.refreshInterval !== undefined && t.refreshInterval !== null) {
                    clearInterval(t.refreshInterval);
                    t.refreshInterval = null;
                }
            },
            isTradeTime() {
                let now = new Date();
                let nowHours = now.getHours();
                let nowMinutes = now.getMinutes();
                if (nowHours == 10 || nowHours == 13 || nowHours == 14) {
                    return true;
                }
                if (nowHours == 15 && nowMinutes == 0) {
                    return true;
                }
                if (nowHours == 9 && nowMinutes >= 15) {
                    return true;
                }
                if (nowHours == 11 && nowMinutes <= 30) {
                    return true;
                }
                console.log("not in trade time.");
                alert("not in trade time.");
                return false;
            },
            refreshFun() {
                let t = this;
                console.log('start fetch: ' + Object.keys(t.codeList));
                try {
                    Object.keys(t.codeList).forEach((element) => {
                        t.instance.get('/q=' + element.split(',')[0]).then((res) => {
                            let data = res.data.split('~');
                            let element_array = element.split(',');
                            let tx_data;
                            if (element_array.length == 1) {
                                tx_data = {
                                    "name": data[1],
                                    "price": data[3],
                                    "priceFloat": data[4],
                                    "priceFloatRate": data[5] + "%"
                                };
                            } else {
                                tx_data = {
                                    "name": data[1],
                                    "price": data[3],
                                    "priceFloat": data[4],
                                    "priceFloatRate": data[5] + "%",
                                    "myPriceFloatRate": (((data[3] - element_array[1]) / element_array[1]) * 100).toFixed(2) + '%'
                                };
                            }
                            if (element.split(',').length > 1 && data[3] >= element.split(',')[1]) {
                                console.log(data[1] + "(" + element.split(',')[0] + ") " + data[3] + " " + data[5] + "%");
                                t.showNotification(element.split(',')[0], data[1] + "(" + element.split(',')[0] + ") " + data[3] + " " + data[5] + "%");
                            }
                            Vue.set(t.codeList, element, tx_data);
                        }).catch((e) => {
                            console.log(e)
                        });
                    });
                } catch (err) {
                    console.log(err);
                    t.stopInterval();
                }
                // tradle time filter
                if (!t.isTradeTime()) {
                    t.stopInterval();
                    return;
                }
            },
            showWindowNotification(id, msg) {
                let notification = new Notification("Cn Trade", {
                    dir: "auto",
                    icon: '/dog.ico',
                    body: msg,
                    renotify: true,
                    tag: 'CnTradeNotification_' + id,
                    requireInteraction: true
                });
                notification.onclick = () => {
                    window.focus();
                }
            },
            showNotification(id, msg) {
                let t = this;
                if (Notification.permission == "granted") {
                    t.showWindowNotification(id, msg);
                } else {
                    console.log("Notification Permission:" + Notification.permission);
                }
            }
        }
    });
</script>

</html>