<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Diff Excel</title>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://github.githubassets.com/favicon.ico">
    <script src="https://cdn.bootcss.com/xlsx/0.12.6/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<!-- Diff Excel -->
<div id="app" align="center">
    <p>Diff Excel</p>
    <p>
        <a href="https://jiehuifang.github.io/">back to the contents</a>
    </p>
    <br>
    <p>
        导入方案模式：
        <select v-model="import_mode">
            <option>LOCAL</option>
            <option>REMOTE</option>
        </select>
    </p>
    <p v-if="import_mode==='LOCAL'">
        导入本地方案：<input type="file" @change="import_local_schema($event)">
    </p>
    <p v-if="import_mode==='REMOTE'">
        远程方案路径:
        <input v-model="remote_schema_path" type="text" placeholder="http://">
        <button @click="import_remote_schema()">加载</button>
    </p>
    <p>
        选择Excel对比方案：
        <select v-model="current_schema">
            <option v-for="(value,key) in schema">{{key}}</option>
        </select>
        <select v-if="current_schema!==null&&current_schema!==''" v-model="current_method">
            <option v-for="method in current_methods">{{method}}</option>
        </select>
    </p>
    <div v-if="current_schema!==null&&current_schema!==''">
        <p>
            {{current_schema}} ({{Object.keys(current_diff_obj).length}}方对比)
        </p>
        <p v-for="(value,obj) in current_diff_obj">
            {{obj}}：<input type="file" @change="parseFile($event,obj)" multiple/>
        </p>
    </div>
    <div v-if="Object.keys(file_name).length!==0" v-for="(value,key) in file_name">
        <p v-if="typeof file_data[key] === 'object'">{{key}} (LOADED {{file_data[key].length}} ROWS)</p>
    </div>
    <p>
        <button @click="diff()">对比</button>
        <button @click="clean_data">清空数据</button>
    </p>
    <div v-if="Object.keys(result_sum).length!==0" v-for="(value,key) in result_sum">
        <p>{{key}} (SUM VALUE {{value.toFixed(2)}})</p>
    </div>
    <div v-if="Object.keys(result_diff).length!==0" v-for="(value,key) in result_diff">
        <div v-if="value.only_sum!==0&&value.only_content.length!==0">
            <hr>
            <p>{{key}} (DIFF COUNT {{value.only_content.length}})</p>
            <p>{{key}} (DIFF SUM VALUE {{value.only_sum.toFixed(2)}})</p>
            <table border="1">
                <tr>
                    <th>INDEX</th>
                    <th>ID</th>
                    <th>VALUE</th>
                </tr>
                <tr v-for="(item,index) in value.only_content">
                    <td>{{index+1}}</td>
                    <td>{{item.ID}}</td>
                    <td>{{item.VALUE}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    let app = new Vue({
        el: "#app",
        data: {
            //customize schema (sample.js)
            // let outside_schema= {
            //     "交投对账": {
            //         "methods": ["退票对比", "售票对比"],
            //         "diff_obj": {
            //             "NYT": {
            //                 "nyt_jt": {
            //                     "single": "single_file_multiple_row",
            //                     "field": {
            //                         "售票对比": {
            //                             "filter": function () {
            //                                 return true;
            //                             },
            //                             "unique": "车站订单号",
            //                             "number": "实际购票价"
            //                         },
            //                         "退票对比": {
            //                             "filter": function () {
            //                                 return true;
            //                             },
            //                             "unique": "车站订单号",
            //                             "number": "退还乘客票款"
            //                         }
            //                     }
            //                 }
            //             },
            //             "JT": {
            //                 "jt": {
            //                     "single": "single_file_single_row",
            //                     "field": {
            //                         "售票对比": {
            //                             "filter": function () {
            //                                 return true;
            //                             },
            //                             "unique": "订单号",
            //                             "number": "订单总价"
            //                         },
            //                         "退票对比": {
            //                             "filter": function () {
            //                                 return true;
            //                             },
            //                             "unique": "订单号",
            //                             "number": function (e) {
            //                                 return parseFloat(e["退票总金额（含燃油附加费）"]) - parseFloat(e.退票手续费);
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         },
            //     },
            //     "微信对账": {
            //         "methods": ["资金对账"],
            //         "diff_obj": {
            //             "NYT": {
            //                 "便民网_售": {
            //                     "single": "multiple_file_multiple_row",
            //                     "field": {
            //                         "资金对账": {
            //                             "filter": function (e) {
            //                                 return e["交易流水"].startsWith("42000");
            //                             },
            //                             "unique": "交易流水",
            //                             "number": function (e) {
            //                                 return parseFloat(e["票款"]) + parseFloat(e["保险金额"])
            //                             }
            //                         },
            //                     }
            //                 },
            //                 "便民网_退": {
            //                     "single": "multiple_file_multiple_row",
            //                     "field": {
            //                         "资金对账": {
            //                             "filter": function (e) {
            //                                 return e["交易流水"].startsWith("42000");
            //                             },
            //                             "unique": "交易流水",
            //                             "number": function (e) {
            //                                 return 0 - parseFloat(e["退款金额"]) - parseFloat(e["保险金额"]);
            //                             }
            //                         },
            //                     }
            //                 },
            //                 "子站_售": {
            //                     "single": "multiple_file_multiple_row",
            //                     "field": {
            //                         "资金对账": {
            //                             "filter": function (e) {
            //                                 return e["交易流水号"].startsWith("42000");
            //                             },
            //                             "unique": "交易流水号",
            //                             "number": function (e) {
            //                                 return parseFloat(e["实际购票价"]) + parseFloat(e["保费"]) + parseFloat(e["服务费"])
            //                             }
            //                         },
            //                     }
            //                 },
            //                 "子站_退": {
            //                     "single": "multiple_file_multiple_row",
            //                     "field": {
            //                         "资金对账": {
            //                             "filter": function (e) {
            //                                 return e["交易流水号"].startsWith("42000");
            //                             },
            //                             "unique": "交易流水号",
            //                             "number": function (e) {
            //                                 return 0 - parseFloat(e["退还乘客票款"]) - parseFloat(e["保费"]);
            //                             }
            //                         },
            //                     }
            //                 },
            //             },
            //             "WX": {
            //                 "微信": {
            //                     "single": "single_file_multiple_row",
            //                     "field": {
            //                         "资金对账": {
            //                             "filter": function () {
            //                                 return true;
            //                             },
            //                             "unique": function (e) {
            //                                 return e["微信订单号"].substr(1);
            //                             },
            //                             "number": function (e) {
            //                                 return parseFloat(e["总金额"].substr(1)) - parseFloat(e["退款金额"].substr(1));
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // };
            import_mode: 'LOCAL',
            schema: {},
            remote_schema_path: '',
            current_schema: null,
            current_method: null,
            file_name: {},
            file_data: {},
            result_sum: {},
            result_diff: {},
            multiple_file_temp: {}
        },
        computed: {
            current_methods() {
                return this.schema[this.current_schema].methods;
            },
            current_diff_obj() {
                return this.schema[this.current_schema].diff_obj;
            }
        },
        methods: {
            load_schema_script(t, src, innerHTML) {
                let script = document.createElement('script');
                document.getElementsByTagName('head')[0].appendChild(script);
                script.type = 'text/javascript';
                if (src !== null) {
                    script.src = src;
                    script.onload = function () {
                        if (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete') {
                            script.onload = null;
                            if (outside_schema !== undefined) {
                                t.schema = outside_schema;
                            }
                        }
                    }
                }
                if (innerHTML !== null) {
                    script.innerHTML = innerHTML;
                    t.schema = outside_schema;
                }
            },
            import_local_schema(file) {
                let t = this;
                let f = file.target.files[0];
                let reader = new FileReader();
                reader.onload = function (e) {
                    t.load_schema_script(t, null, e.target.result + "");
                }
                reader.readAsText(f);
            },
            import_remote_schema() {
                let t = this;
                t.load_schema_script(t, t.remote_schema_path, null);
            },
            clean_data() {
                window.location.reload();
            },
            parseFile(files, id) {
                let t = this;
                let readers = [];
                for (let file of files.target.files) {
                    let tag = file.name.split('.')[0];
                    Vue.set(t.file_name, id + "_" + tag, tag);
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        let data = XLSX.read(e.target.result, {type: 'binary'});
                        Vue.set(t.file_data, id + "_" + tag, XLSX.utils.sheet_to_json(data.Sheets[data.SheetNames[0]]));
                    };
                    reader.readAsBinaryString(file);
                    readers.push(reader);
                }
            },
            fill(t, obj, wb, wb_content, method) {
                let tempMap;
                if (wb_content.single.startsWith("multiple_file") && t.multiple_file_temp[obj] !== undefined) {
                    tempMap = t.multiple_file_temp[obj];
                } else {
                    tempMap = new Map();
                }
                let unique;
                let number;
                let tempSum = 0;
                t.file_data[obj + "_" + wb].filter(wb_content.field[method].filter).forEach(e => {
                    number = typeof wb_content.field[method].number != 'string' ? wb_content.field[method].number(e) : e[wb_content.field[method].number];
                    unique = typeof wb_content.field[method].unique != 'string' ? wb_content.field[method].unique(e) : e[wb_content.field[method].unique];
                    tempMap.set(unique, tempMap.get(unique) === undefined ? parseFloat(number) : tempMap.get(unique) + parseFloat(number));
                    tempSum = tempSum + parseFloat(number);
                });
                Vue.set(t.multiple_file_temp, wb_content.single.startsWith("multiple_file") ? obj : obj + "_" + wb, tempMap);
                Vue.set(t.result_diff, wb_content.single.startsWith("multiple_file") ? obj : obj + "_" + wb, {
                    "only_sum": 0,
                    "only_content": []
                })
                Vue.set(t.result_sum, obj + "_" + wb, tempSum);
                return tempMap;
            },
            diff() {
                let t = this;
                let count_diff_map = new Map();
                for (let key of Object.keys(t.current_diff_obj)) {
                    for (let innerKey of Object.keys(t.current_diff_obj[key])) {
                        t.fill(t, key, innerKey, t.current_diff_obj[key][innerKey], t.current_method, count_diff_map);
                    }
                }
                for (let key of Object.keys(t.multiple_file_temp)) {
                    t.multiple_file_temp[key].forEach((v, k) => {
                        count_diff_map.set(k + "_" + v, count_diff_map.get(k + "_" + v) === undefined ? 1 : count_diff_map.get(k + "_" + v) + 1);
                    });
                }
                let tempArr;
                count_diff_map.forEach((v, k) => {
                    tempArr = k.split("_");
                    if (v !== Object.keys(t.current_diff_obj).length) {
                        for (let key of Object.keys(t.multiple_file_temp)) {
                            if (parseFloat(t.multiple_file_temp[key].get(tempArr[0])) === parseFloat(tempArr[1])) {
                                t.result_diff[key].only_sum = t.result_diff[key].only_sum + parseFloat(tempArr[1]);
                                t.result_diff[key].only_content.push({
                                    "ID": tempArr[0],
                                    "VALUE": tempArr[1]
                                });
                                break;
                            }
                        }
                    }
                });
            }
        }
    });
</script>
</html>