<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Profit Calc</title>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://github.githubassets.com/favicon.ico">
    <link rel="stylesheet" href="https://jiehuifang.github.io/webTools.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <!-- Profit Calc -->
    <div id="app">
        <p>Profit Calc</p>
        <p>
            <a href="https://jiehuifang.github.io/">back to the contents</a>
        </p>
        <br>
        <table border="1">
            <tr>
                <th>exchange rate</th>
                <th>buy unit</th>
                <th>sale unit</th>
            </tr>
            <tr>
                <td><input v-model="exchange_rate"></td>
                <td><input v-model="buy_unit"></td>
                <td><input v-model="sale_unit"></td>
            </tr>
        </table>
        <hr>
        <table border="1">
            <tr>
                <th>profit rate</th>
                <th>profit amount</th>
            </tr>
            <tr>
                <td>{{(isNaN(profit_rate) || profit_rate == 0) ? 0 : profit_rate}}%</td>
                <td>{{(isNaN(profit_amount) || profit_amount == 0) ? 0 : profit_amount}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    const SERVICE_RATE = 0.96525;
    let app = new Vue({
        el: "#app",
        data: {
            "exchange_rate": 0,
            "buy_unit": 0,
            "sale_unit": 0
        },
        computed: {
            profit_rate() {
                return (((SERVICE_RATE * parseFloat(this.sale_unit)) / (parseFloat(this.buy_unit) * parseFloat(this.exchange_rate)) - 1).toFixed(4) * 100).toFixed(2);
            },
            profit_amount() {
                return ((SERVICE_RATE * parseFloat(this.sale_unit)) - (parseFloat(this.buy_unit) * parseFloat(this.exchange_rate))).toFixed(2);
            }
        }
    });
</script>

</html>